{% trans_default_domain 'AppBundle' %}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ 'app.password.change' | trans }}</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">
        {{ form_start(form) }}
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <a class="btn btn-white" href="{{ path('grand_central') }}">{{ 'app.cancel' | trans }}</a>
                    <button class="ladda-button btn btn-primary" type="submit" data-style="zoom-in">{{ 'app.save'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
