{% trans_default_domain 'AppBundle' %}

{% macro bootstrapButton(route, class, icon, showTitle, title, attrs) %}
    <a href="{{ route }}" class="btn {{ class }}" {% if showTitle == false %}title="{{ title }}" data-toggle="tooltip"{% endif %} data-style="zoom-in" {% for attr, value in attrs %} {{ attr }}="{{ value }}" {% endfor %}>
        {% if showTitle %} {{ title }} {% endif %}<i class="{{ icon }}"></i>
    </a>
{% endmacro %}

{% macro showButton(route, showTitle, title = 'app.show') %}
    {% set showTitle = showTitle | default(false) %}
    {% set title = title | trans %}
    {% import _self as UI %}

    {{ UI.bootstrapButton(route, 'btn-info ladda-button block-ui', 'fa fa-search', showTitle, title) }}
{% endmacro %}

{% macro editButton(route, showTitle, title = 'app.edit') %}
    {% set showTitle = showTitle | default(false) %}
    {% set title = title | trans %}
    {% import _self as UI %}

    {{ UI.bootstrapButton(route, 'btn-primary ladda-button block-ui', 'fa fa-edit', showTitle, title) }}
{% endmacro %}

{% macro deleteButton(route, showTitle, title = 'app.delete') %}
    {% set showTitle = showTitle | default(false) %}
    {% set title = title | trans %}
    {% import _self as UI %}

    <form action="{{ route }}" method="post" class="remove-entity">
        <input type="hidden" name="_method" value="DELETE"/>
        {{ UI.bootstrapButton('#', 'btn-danger btn-remove', 'fa fa-trash', showTitle, title, { 'data-title': 'app.delete_title' | trans, 'data-description': 'app.delete_description' | trans  } ) }}
    </form>
{% endmacro %}